:root {
  --main-color:#720e0e;
  --bg-color1:rgb(7, 7, 7);
  --text-color1: #fff;
  --main-color1:#FFD814;
  --sidebar-color: rgba(255, 255, 255, 0.25);
}

/* Layout */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/background.jpg');
  background-size: cover;
  background-position: center;
  font-family: "Kanit", sans-serif;
}

.header {
  background-color:var(--main-color);
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color:var(--text-color1);
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 12px;
}

.headerLogo {
  width: 45px;
  height: 45px;
}

.brandName {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--main-color1);
}

.brandName span {
  color:var(--main-color1);
}

.adminProfile {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--main-color1);
  font-weight: bold;
}

.adminAvatar {
  width: 28px;
  height: 28px;
}

/* Body */
.layoutBody {
  display: flex;
  flex: 1;
}

/* Sidebar */
.sidebar {
  width: 360px;
  background-color: var(--sidebar-color);
  backdrop-filter: blur(10px);
  padding-top: 45px;
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuLink {
  display: flex;
  align-items: center;
  gap: 18px;
  padding: 12px 30px;
  color: var(--bg-color1);
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 100px;
  transition: all 0.3s ease;
}

/* Hover effect */
.menuLink:hover {
  background-color: rgba(255,255,255,0.5);
  transform: translateX(6px);
  padding: 10px 30px;

}

/* Active button */
.active {
  background-color: rgba(255,255,255,0.65);
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
  padding: 10px 30px;
}

/* Icons */
.menuIconImage {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

/* Main content */
.mainContent {
  flex: 1;
  padding: 50px;
}

.pageTitle {
  color: var(--text-color1);
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 45px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

/* Cards */
.cardGrid {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  gap: 60px;
  margin-left: 110px;
}

.card {
  background-color: white;
  border-radius: 35px;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 40px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.cardIconContainer {
  width: 150px;
  height: 150px;
}

.cardIconImage {
  width: 100%;
  height: 100%;
}

.cardTitle {
  font-size: 1.8rem;
  color: var(--main-color);
  font-weight: 900;
}

.cardValue {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--main-color1);
  text-shadow: 
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
}
