.layoutWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.mainContainer {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.contentArea {
  flex: 1;
  overflow-y: auto;
  background-color: #f4f4f4; /* Fallback background */
}