:root {
  ---main-color: #720e0e;
  --bg-color1: rgb(7, 7, 7);
  --text-color1: #fff;
  --main-color1: #FFD814;
  --sidebar-color: rgba(255, 255, 255, 0.25);
}


.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url('/background.jpg');
  background-size: cover;
  background-position: center;
}

.header {
  background-color: var(--main-color);
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  color: var(--text-color1);
  z-index: 100;
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 12px;
}

.headerLogo {
  width: 45px;
  height: 45px;
}

.brandName {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--main-color1);
}

.adminProfile {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--main-color1);
  font-weight: bold;
}

.adminAvatar {
  width: 28px;
  height: 28px;
}

.layoutBody {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 300px;
  background-color: var(--sidebar-color);
  backdrop-filter: blur(12px);
  padding-top: 40px;
}
.menuList {
  display: flex;
  flex-direction: column;
}

.menuItem {
  padding: 12px 25px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--bg-color1);
  font-weight: bold;
  cursor: pointer;
  font-size: 1.4rem;
  transition: 0.3s;
  border-radius: 30px;
}
.menuItem:hover {
  background-color: rgba(255,255,255,0.6);
}

.activeItem {
  background: rgba(255,255,255,0.7);
  border-radius: 30px;
}

.menuIconImage {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.mainContent {
  flex: 1;
  padding: 40px;
}

.pageTitle {
  color: var(--text-color1);
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 25px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
  font-family: "Kanit", sans-serif;
}

.contentContainer {
  background: rgba(255,255,255,.85);
  border-radius: 15px;
  padding: 25px;
}

.actionBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.searchContainer {
  display: flex;
  border: 2px solid #720e0e;
  border-radius: 6px;
  overflow: hidden;
  height: 50px;
}

.searchInput {
  padding: 10px;
  border: none;
  outline: none;
}

.searchButton {
  background: none;
  border: none;
  width: 28px;
  height: 28px;
}

.addUserBtn {
  background: #720e0e;
  color: #FFD814;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
}

.userTable {
  width: 100%;
  border-collapse: collapse;
}

.userTable th {
  background: #720e0e;
  color: white;
  padding: 12px;
}

.userTable td {
  background: white;
  padding: 12px;
  text-align: center;
}

.actionButtons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.editButton {
  background: green;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
}

.deleteButton {
  background: red;
  color: white;
  padding: 6px 12px;
  border-radius: 5px;
}
