:root {
  --main-color:#720e0e;
  --bg-color1:rgb(7, 7, 7);
  --text-color1: #fff;
  --main-color1:#FFD814;
  --sidebar-color: rgba(255, 255, 255, 0.25);
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/background.jpg');
  background-size: cover;
  background-position: center;
  font-family: "Kanit", sans-serif;
}

.header {
  background-color:var(--main-color);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color:var(--text-color1);
}

.logoSection {
  display: flex;
  align-items: center;
  gap: 12px;
}

.headerLogo {
  width: 60px;
  height: 60px;
}

.brandName {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--main-color1);
}

.brandName span {
  color:var(--main-color1);
}

.adminProfile {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--main-color1);
  font-weight: bold;
  font-size: 1rem;
}

.adminAvatar {
  width: 50px;
  height: 50px;
}

/* Body */
.layoutBody {
  display: flex;
  flex: 1;
}

/* Sidebar */
.sidebar {
  width: 420px;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(3px);
  padding-top: 30px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.menuList {
  list-style: none;
  padding: 15px 30px;
  gap: 100px;
}

.menuItem {
  padding: 12px 25px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 8px; 
  color: var(--bg-color1);
  font-weight: bold;
  cursor: pointer;
  font-size: 1.6rem;
  transition: 0.3s;
  border-radius: 30px;
}

/* Hover effect */
.menuItem:hover {
  background-color: rgba(255,255,255,0.5);
  transform: translateX(6px);
  padding: 15px 30px;

}

/* Active button */
.active {
  background-color: rgba(255,255,255,0.65);
  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
  padding: 15px 30px;
}

/* Icons */
.menuIconImage {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

/* Main content */
.mainContent {
  flex: 1;
  padding: 50px;
}

.pageTitle {
  color: var(--text-color1);
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 45px;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  color: var(--text-color1);
}

.formCard {
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.sectionTitle {
  font-size: 1.4rem;
  font-weight: 800;
  color: #000;
  margin-bottom: 20px;
  border-bottom: 3px solid #720e0e;
  display: inline-block;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 50px;
  margin-bottom: 30px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 0.95rem;
  color: #000;
}

.input, .select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  font-size: 1rem;
  color:var(--text-color1);
}

.registerBtn {
  width: 100%;
  padding: 18px;
  background-color: #0f5f1a;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 2px;
  transition: transform 0.1s;
}

.registerBtn:active {
  transform: scale(0.98);
}
