html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  width: 100%;
  margin: 0;
  padding: 0;
}

/* HEADER STYLES */
.topHeader {
  background-color: #7a1212;
  color: #ffcc00; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  height: 80px; 
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 15px;
}

.mainLogo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.systemTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffcc00; 
}

.userProfile {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #ffcc00; 
}

.userText p {
  margin: 0;
  font-size: 0.95rem;
}

.userText span {
  font-size: 0.8rem;
  display: block;
  text-align: right;
}

.avatarImg {
  width: 30px;
  height: 30px;
  object-fit: contain; 
}

.dashboardBody {
  display: flex;
  flex: 1;
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar {
  width: 280px;
  background: rgba(207, 207, 207, 0.8);
  backdrop-filter: blur(15px);
  min-height: calc(100vh - 80px);
  padding-top: 20px;
}

.navMenu {
  display: flex;
  flex-direction: column;
}

.navLink {
  padding: 15px 25px;
  border-radius: 40px;
  margin: 10px;
  font-weight: 800;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0b0b0b;
  transition: background 0.3s;
}

.navLink:hover {
  background-color: #ffffff;
}

.navIcon {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.pageTitle {
  color: white;
  font-size: 25.6px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}


.formContainer {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 40px;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.35);
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.fullWidth {
  grid-column: span 2;
  margin-bottom: 20px;
}

.attendanceForm label {
  display: block;
  font-weight: bold;
  color: #7a1212;
  margin-bottom: 6px;
}

.attendanceForm input,
.attendanceForm select {
  width: 100%;
  height: 35px;         
  padding: 0 10px;        
  line-height: 35px;      
  font-size: 13px;        
  background-color: #ffffff;
  color: #000;
  border: 1px solid #e5e5e5;

  box-shadow: 0 2px 4px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.05);
  transition: transform 0.2s ease, box-shadow 0.2s ease, border 0.2s ease;
}


.attendanceForm input:hover,
.attendanceForm select:hover {
  transform: translateY(-2px);
  box-shadow:
    0 8px 16px rgba(0, 0, 0, 0.18);
}


.attendanceForm input:focus,
.attendanceForm select:focus {
  outline: none;
  transform: translateY(-3px);
  box-shadow:
    0 12px 22px rgba(0, 0, 0, 0.22);
  border: 1px solid #7a1212;
}

/*DATE INPUT ICON*/
.inputWrapper {
  position: relative;
}

.dateInput {
  padding-right: 45px;
}

/* Hide default calendar icon */
.dateInput::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

/* Custom calendar icon */
.innerCalendarIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  pointer-events: none;
  object-fit: contain;
}

.submitBtn {
  background: #7a1212;
  color: white;
  width: 100%;
  height: 35px;            
  border: none;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
  
  display: flex;           
  justify-content: center; 
  align-items: center;      

  padding: 0;               
  margin-top: 50;
  
  transition: transform 0.2s, box-shadow 0.2s, background 0.3s;
}

.submitBtn:hover {
  background: #a31a1a;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

