html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.appContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  width: 100%;
  margin: 0;
  padding: 0;
}

.topHeader {
  background-color: #7a1212;
  color: #ffcc00; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  height: 80px; 
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 15px;
}

.mainLogo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.systemTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffcc00; 
}

.userProfile {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #ffcc00; 
}

.userText p {
  margin: 0;
  font-size: 0.95rem;
}

.userText span {
  font-size: 0.8rem;
  display: block;
  text-align: right;
}

.avatarImg {
  width: 30px;
  height: 30px;
  object-fit: contain; 
}

.dashboardBody {
  display: flex;
  flex: 1;
  background-image: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar {
  width: 280px;
  background: rgba(207, 207, 207, 0.2);
  backdrop-filter: blur(15px);
  min-height: calc(100vh - 80px);
  padding-top: 20px;
}

.navMenu {
  display: flex;
  flex-direction: column;
}

.navLink {
  padding: 15px 25px;
  border-radius: 40px;
  margin: 10px;
  font-weight: 800;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0b0b0b;
  transition: background 0.3s;
}

.navLink:hover {
  background-color: #ffffff;
}

.active {
  background-color:  rgba(207, 207, 207, 0.25);
  border-left: 5px solid #7a1212;
  color: #0b0b0b;
}

.navIcon {
  width: 35px;
  height: 35px;
  margin-right: 15px;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.pageTitle {
  color: white;
  font-size: 25.6px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.summaryRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
  max-width: 900px;
}

.filterRow {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  padding: 0px 90px;
  margin-bottom: 30px;
}

.filterItem {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.filterLabel {
  color: #fff; 
  font-weight: 800;
  font-size: 17px;
}


.selectInput {
  background-color: white;
  color: #7a1212;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  min-width: 180px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  appearance: auto;
}

.lastSalaryCard {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  border: 1px solid #7a1212;
}

.cardLabel {
  color: #7a1212;
  font-size: 16px;
  margin: 0;
}

.cardDate {
  color: #7a1212;
  font-size: 22px;
  margin-top: 5px;
  font-weight: bold;
}

.glassTableContainer {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  padding: 30px;
  border-radius: none;
  width: 900px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.payslipTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.payslipTable th {
  background: #7a1212;
  color: white;
  padding: 12px;
  text-align: left;
}

.payslipTable td {
  background: white;
  padding: 12px;
  color: #7a1212;
}

.downloadBtn {
  background: #ffcc00;
  border: none;
  padding: 5px 10px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}